.salesforceLogopngIcon {
  height: 15.625rem;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 10.625rem;
}
.cardTitle {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 6rem;
}
.clock05Icon {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.25rem;
}
.months {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 3.438rem;
}
.cardDuration,
.testimonialCardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardDuration {
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-3xs) 0 var(--padding-3xs) var(--padding-5xl);
  gap: var(--gap-4xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.testimonialCardInfo {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.salesforceAdministration {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 160%;
  font-weight: 600;
  font-family: inherit;
  color: var(--text-primary);
}
.testimonialCardDetails {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.userGroupIcon {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.25rem;
}
.offlineClasses {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 5.063rem;
}
.userGroupParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.userSquareIcon {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.25rem;
}
.onlineClass {
  position: relative;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
  min-width: 4.188rem;
}
.userSquareParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.cardClassType,
.content1 {
  align-self: stretch;
  display: flex;
}
.cardClassType {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-sm);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-300);
}
.content1 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.download04Icon {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.5rem;
}
.syllabus {
  position: relative;
  font-size: var(--body-md-regular-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--color-slateblue);
  text-align: left;
  display: inline-block;
  min-width: 3.75rem;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-slateblue);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: transparent;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button:hover {
  background-color: var(--color-royalblue-700);
  border: 1px solid var(--color-royalblue-100);
  box-sizing: border-box;
}
.card,
.content {
  display: flex;
  justify-content: flex-start;
}
.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 10.625rem;
}
.card {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-13xl);
}
.cardone,
.testimonialCardContainers {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonialCardContainers {
  align-self: stretch;
  background-color: var(--background-color-primary);
  padding: var(--padding-3xs) var(--padding-xl);
}
.cardone {
  width: 37.25rem;
  box-shadow: 2px 8px 32px rgba(120, 120, 120, 0.25);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-3xs) 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--body-sm-regular-size);
  color: var(--color-lightseagreen);
  font-family: var(--text-regular-semi-bold);
}
@media screen and (max-width: 925px) {
  .card {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .salesforceAdministration {
    font-size: var(--body-lg-regular-size);
    line-height: 1.75rem;
  }
}
