.avatarIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
}
.logopngIcon {
  height: 1.75rem;
  width: 1.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.twitterLogo {
  position: absolute;
  top: 6.063rem;
  left: 2.5rem;
  border-radius: var(--br-81xl);
  background-color: var(--background-color-primary);
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.profile {
  height: 9.063rem;
  flex: 1;
  position: relative;
}
.profileWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-61xl);
}
.designation,
.name {
  align-self: stretch;
  position: relative;
}
.name {
  line-height: 1.75rem;
  font-weight: 600;
}
.designation {
  font-size: var(--body-md-regular-size);
  line-height: 1.5rem;
  color: var(--neutral-600);
}
.teamCardItem,
.teamNameOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.teamNameOne {
  align-self: stretch;
}
.teamCardItem {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-5xs);
  min-width: 16.125rem;
  max-width: 17.5rem;
  text-align: center;
  font-size: var(--body-xl-semibold-size);
  color: var(--neutral-gray-900);
  font-family: var(--display-xs-bold);
}
@media screen and (max-width: 450px) {
  .profileWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .name {
    font-size: var(--body-md-regular-size);
    line-height: 1.375rem;
  }
}
