@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --display-xs-bold: Inter;
  --font-poppins: Poppins;
  --text-regular-semi-bold: Roboto;

  /* font sizes */
  --body-md-regular-size: 1rem;
  --display-xs-bold-size: 1.5rem;
  --font-size-lgi: 1.188rem;
  --body-lg-regular-size: 1.125rem;
  --body-sm-regular-size: 0.875rem;
  --font-size-23xl: 2.625rem;
  --font-size-15xl: 2.125rem;
  --font-size-6xl: 1.563rem;
  --font-size-17xl: 2.25rem;
  --font-size-10xl: 1.813rem;
  --font-size-3xl: 1.375rem;
  --font-size-mini-2: 0.888rem;
  --font-size-45xl: 4rem;
  --font-size-32xl: 3.188rem;
  --font-size-19xl: 2.375rem;
  --body-xl-semibold-size: 1.25rem;
  --font-size-xs: 0.75rem;
  --display-lg-bold-size: 3rem;
  --display-01-size: 4.5rem;
  --font-size-39xl: 3.625rem;
  --font-size-24xl: 2.688rem;

  /* Colors */
  --color-gray-100: #17181b;
  --neutral-gray-900: #111827;
  --color-gray-200: rgba(20, 27, 52, 0.6);
  --color-gray-300: rgba(255, 255, 255, 0.2);
  --color-darkslateblue-100: #383874;
  --color-darkslateblue-200: #162664;
  --color-darkslateblue-300: #18214d;
  --color-gainsboro-100: #e8e8e8;
  --neutral-200: #e5e7eb;
  --color-gainsboro-200: #e0e0e0;
  --neutral-gray-100: #f4f5f7;
  --neutral-300: #d1d5db;
  --background-color-primary: #fff;
  --color-slateblue: #253ea7;
  --blue: #6f81f7;
  --color-royalblue-100: #4d63cf;
  --color-royalblue-200: #0052cc;
  --color-royalblue-300: rgba(0, 82, 204, 0.2);
  --color-royalblue-400: rgba(111, 129, 247, 0.2);
  --color-royalblue-500: rgba(94, 133, 255, 0.9);
  --color-royalblue-600: rgba(120, 138, 255, 0.2);
  --color-royalblue-700: rgba(77, 99, 207, 0.09);
  --text-primary: #000;
  --color-lightslategray: #9299a5;
  --color-mediumslateblue-100: #375dfb;
  --color-mediumslateblue-200: rgba(55, 93, 251, 0.9);
  --color-mediumslateblue-300: rgba(55, 93, 251, 0.7);
  --color-dimgray-100: #5f5f5f;
  --neutral-600: #4b5563;
  --color-darkslategray-100: #374151;
  --color-darkslategray-200: #2f3645;
  --color-darkslategray-300: rgba(41, 48, 73, 0.7);
  --color-lavender-100: #dee4fe;
  --color-lavender-200: #d4e4fe;
  --color-lavender-300: rgba(225, 229, 253, 0.25);
  --color-lavender-400: rgba(225, 229, 253, 0.3);
  --pink-2: #d7669e;
  --purple: #9c75d0;
  --dark-pink-2: #d75495;
  --color-hotpink-100: rgba(215, 84, 149, 0.2);
  --pink: #fc5c7d;
  --color-mediumblue: #3246ff;
  --color-lightsteelblue-100: #cad4e8;
  --color-lightsteelblue-200: #9fadcc;
  --color-lightsteelblue-300: rgba(207, 215, 255, 0.35);
  --color-steelblue: #7197d5;
  --color-lightseagreen: #11acae;
  --color-lavenderblush: rgba(246, 220, 233, 0.2);

  /* Gaps */
  --gap-74xl: 5.812rem;
  --gap-4xl: 1.437rem;
  --gap-27xl: 2.875rem;
  --gap-xl: 1.25rem;
  --gap-base: 1rem;
  --gap-xs: 0.75rem;
  --gap-13xl: 2rem;
  --gap-2xl: 1.312rem;
  --gap-8xl: 1.687rem;
  --gap-9xl: 1.75rem;
  --gap-41xl: 3.75rem;
  --gap-11xl: 1.875rem;
  --gap-5xl: 1.5rem;
  --gap-44xl: 3.937rem;
  --gap-12xl: 1.937rem;
  --gap-31xl-9: 3.181rem;
  --gap-6xl: 1.562rem;
  --gap-127xl-6: 9.162rem;
  --gap-54xl: 4.562rem;
  --gap-18xl: 2.312rem;
  --gap-mini-2: 0.887rem;
  --gap-45xl: 4rem;
  --gap-5xs: 0.5rem;
  --gap-37xl: 3.5rem;
  --gap-21xl: 2.5rem;
  --gap-93xl-9: 7.056rem;
  --gap-3xl: 1.375rem;
  --gap-2xs: 0.687rem;
  --gap-base-4: 0.962rem;
  --gap-29xl: 3rem;
  --gap-lg: 1.125rem;
  --gap-23xs: -0.625rem;
  --gap-3xs: 0.625rem;
  --gap-4xs: 0.562rem;
  --gap-61xl: 5rem;
  --gap-sm: 0.875rem;
  --gap-mini: 0.937rem;
  --gap-24xl: 2.687rem;
  --gap-4xl-8: 1.487rem;
  --gap-sm-2: 0.825rem;
  --gap-7xl-6: 1.662rem;
  --gap-69xl: 5.5rem;
  --gap-25xl: 2.75rem;

  /* Paddings */
  --padding-71xl: 5.625rem;
  --padding-221xl: 15rem;
  --padding-92xl: 6.937rem;
  --padding-205xl: 14rem;
  --padding-39xl: 3.625rem;
  --padding-41xl: 3.75rem;
  --padding-53xl: 4.5rem;
  --padding-37xl: 3.5rem;
  --padding-93xl: 7rem;
  --padding-101xl: 7.5rem;
  --padding-5xs: 0.5rem;
  --padding-83xl: 6.375rem;
  --padding-82xl: 6.312rem;
  --padding-135xl: 9.625rem;
  --padding-70xl: 5.562rem;
  --padding-mini: 0.937rem;
  --padding-5xl: 1.5rem;
  --padding-xl: 1.25rem;
  --padding-9xl: 1.75rem;
  --padding-4xl: 1.437rem;
  --padding-21xl: 2.5rem;
  --padding-45xl: 4rem;
  --padding-7xl: 1.625rem;
  --padding-13xl: 2rem;
  --padding-xs: 0.75rem;
  --padding-29xl: 3rem;
  --padding-lg: 1.125rem;
  --padding-mid: 1.062rem;
  --padding-3xl: 1.375rem;
  --padding-10xs: 0.187rem;
  --padding-61xl: 5rem;
  --padding-33xl: 3.25rem;
  --padding-17xl: 2.25rem;
  --padding-base: 1rem;
  --padding-sm: 0.875rem;
  --padding-161xl: 11.25rem;
  --padding-88xl: 6.687rem;
  --padding-98xl: 7.312rem;
  --padding-51xl: 4.375rem;
  --padding-76xl: 5.937rem;
  --padding-34xl: 3.312rem;
  --padding-211xl-3: 14.393rem;
  --padding-43xl: 3.875rem;
  --padding-131xl: 9.375rem;
  --padding-82xl-5: 6.343rem;
  --padding-5xs-1: 0.443rem;
  --padding-2xs: 0.687rem;
  --padding-12xs: 0.062rem;
  --padding-6xl-7: 1.606rem;
  --padding-53xl-5: 4.531rem;
  --padding-28xl: 2.937rem;
  --padding-15xl: 2.125rem;
  --padding-3xs: 0.625rem;
  --padding-11xl: 1.875rem;
  --padding-22xl: 2.562rem;
  --padding-12xl-1: 1.943rem;
  --padding-7xs: 0.375rem;
  --padding-lgi: 1.187rem;
  --padding-20xl-8: 2.487rem;
  --padding-20xl-9: 2.493rem;
  --padding-105xl: 7.75rem;
  --padding-62xl: 5.062rem;
  --padding-113xl: 8.25rem;
  --padding-67xl: 5.375rem;
  --padding-352xl: 23.187rem;
  --padding-222xl: 15.062rem;
  --padding-16xl: 2.187rem;
  --padding-168xl: 11.687rem;
  --padding-14xl: 2.062rem;
  --padding-169xl: 11.75rem;
  --padding-27xl: 2.875rem;
  --padding-55xl: 4.625rem;
  --padding-18xl: 2.312rem;
  --padding-10xl-1: 1.818rem;
  --padding-84xl-9: 6.493rem;
  --padding-142xl: 10.062rem;
  --padding-86xl: 6.562rem;
  --padding-49xl: 4.25rem;
  --padding-333xl: 22rem;
  --padding-69xl: 5.5rem;
  --padding-157xl: 11rem;
  --padding-172xl: 11.937rem;
  --padding-35xl: 3.375rem;
  --padding-8xl: 1.687rem;
  --padding-174xl: 12.062rem;
  --padding-36xl-7: 3.481rem;
  --padding-77xl: 6rem;
  --padding-59xl: 4.875rem;
  --padding-4xs: 0.562rem;
  --padding-47xl: 4.125rem;
  --padding-xs-5: 0.718rem;
  --padding-lgi-5: 1.218rem;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-8xs: 5px;
  --br-3xs-5: 9.5px;
  --br-81xl: 100px;
  --br-31xl: 50px;
  --br-xs: 12px;
  --br-lgi-3: 19.3px;
}
